body {
    background-image :  url('../img/contoh-gambar.jpg'); 
    background-size: cover; 

}

/* <div style="background-image:url(//www.html.am/images/image-codes/milford_sound_t.jpg);width:220px;height:140px;color:black;font-size:18px;">
This text appears in front of the background image.
</div> */
